# .gitignore file

# Ignore development files and small projects under /src directory
/src/small_projects

# Ignore data files related to security analysis under /src/securityAnalysis directory
/src/securityAnalysis/data

# Ignore sensitive configuration files such as database credentials
src/dataload/config/mongo_private.json

# Ignore IDE-specific files and directories, e.g., JetBrains IntelliJ IDEA
.idea/
/src/.idea/

# Ignore pytest cache directory generated during test runs
/.pytest_cache

# Ignore Python cache files and directories generated during runtime
src/__pycache__

# Ignore jupyter notebook checkpoints
*.ipynb
*.xml
